.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  width: 100%;
  margin-bottom: 20px;
}

.header-content {
  text-align: left;
}

h1 {
  font-size: 4em;
  margin-bottom: 0.2em;
  font-weight: 300;
  letter-spacing: -0.03em;
}

h1 .bold {
  font-weight: 700;
}

.location-line {
  font-size: 0.9em;
  color: #5e4b3c;
  margin-top: 0.5em;
}

.location-line span {
  margin-right: 0.5em;
}

h2 {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #b07d62;
  font-weight: 400;
}

nav {
  margin-bottom: 10px; 
  display: flex;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #5e4b3c;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-top: 10px; 
}

footer {
  margin-top: auto;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer a {
  color: #5e4b3c;
  font-size: 24px;
}

footer a:hover {
  color: #b07d62;
}

.home-content {
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
}

.home-content h2:first-child {
  margin-top: 0; /* This removes the top margin from the first h2 in the home content */
}

.home-content ul {
  list-style-type: none;
  padding-left: 0;
}

.home-content li {
  margin-bottom: 0.5em;
  position: relative;
  padding-left: 1.5em;
}

.home-content li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #b07d62;
}